html,
body {
	height: 100%;
}

.container {
	height: 100%;
}

.row {
	height: 100%;
}

.col-list-view {
	width: 100%;
	height: calc(35% - 34px);
	overflow: auto;
}

.col-map-view {
	width: 100%;
	height: 65%;
}

.list-padding {
	padding-left: 10px;
}

.is-selected {
	color: black;
}